<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30000"> <!-- Credentials -->
        <setting label="30001" type="text" id="username"/>
        <setting label="30002" type="text" id="password" option="hidden"/>
    </category>
    <category label="30010"> <!-- Video -->
        <setting label="30011" type="bool" id="showsubtitles" default="true"/>
        <setting label="30012" type="bool" id="usedrm" default="false"/>
        <!-- setting label="14041" type="select" id="max_bandwidth" help="36386" default="0" values="0|256|512|1024|1536|2048|2560|3072|4096|6144|8192|10240|15360|20480|25600|30720"/ -->
    </category>
    <category label="30020"> <!-- Interface -->
        <setting label="30021" type="bool" id="showpermalink" default="false"/>
    </category>
    <category label="30040"> <!-- Troubleshooting -->
        <setting label="30041" type="action" id="adaptive_settings" option="close" action="Addon.OpenSettings(inputstream.adaptive)" enable="System.HasAddon(inputstream.adaptive)"/>
        <!-- setting label="30042" type="action" id="widevine_install" option="close" action="RunPlugin(plugin://plugin.video.vrt.nu?action=installwidevine)" enable="System.HasAddon(script.module.inputstreamhelper)"/ -->
        <setting label="30048" type="action" id="clear_tokens" action="RunPlugin(plugin://plugin.video.vrt.nu/?action=clearcookies)"/>
        <setting label="30049" type="select" id="log_level" values="Info|Verbose|Debug" default="Info"/>
    </category>
</settings>
