<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30800"> <!-- Credentials -->
        <setting label="30801" type="lsep"/> <!-- VRT NU login -->
        <setting label="30803" help="30804" type="text" id="username"/>
        <setting label="30805" help="30806" type="text" id="password" option="hidden"/>
    </category>
    <category label="30820"> <!-- Interface -->
        <setting label="30821" type="lsep"/> <!-- Features -->
        <setting label="30823" help="30824" type="bool" id="usefavorites" default="true"/>
        <setting label="30825" help="30826" type="bool" id="showpermalink" default="false"/>
        <setting label="30827" type="lsep"/> <!-- Cache -->
        <setting label="30829" help="30830" type="bool" id="usemenucaching" default="true"/>
    </category>
    <category label="30840"> <!-- Playback -->
        <setting label="30841" type="lsep"/>
        <setting label="30843" help="30844" type="bool" id="showsubtitles" default="true"/>
        <setting label="30845" type="lsep"/> <!-- InputStream Adaptive -->
        <setting label="30847" help="30848" type="bool" id="usedrm" default="false"/>
        <setting label="30849" help="30850" type="select" id="max_bandwidth" default="0" values="0|256|512|1024|1536|2048|2560|3072|4096|6144|8192|10240|15360|20480|25600|30720"/>
    </category>
    <category label="30860"> <!-- Troubleshooting -->
        <setting label="30861" type="lsep"/> <!-- Cache -->
        <setting label="30863" help="30864" type="action" id="clear_tokens" action="RunPlugin(plugin://plugin.video.vrt.nu/?action=clearcookies)"/>
        <setting label="30865" help="30866" type="action" id="refresh_favorites" action="RunPlugin(plugin://plugin.video.vrt.nu/?action=refreshfavorites)"/>
        <setting label="30867" type="lsep"/> <!-- InputStream Adaptive -->
        <setting label="30869" help="30870" type="bool" id="useinputstreamadaptive" default="true" visible="System.HasAddon(inputstream.adaptive)"/>
        <setting label="30871" help="30872" type="action" id="adaptive_settings" option="close" action="Addon.OpenSettings(inputstream.adaptive)" visible="System.HasAddon(inputstream.adaptive)" enable="eq(-1,true)" subsetting="true"/>
        <setting label="30873" help="30874" type="action" id="widevine_install" option="close" action="RunPlugin(plugin://plugin.video.vrt.nu?action=installwidevine)" visible="System.HasAddon(inputstream.adaptive)" enable="eq(-2,true)" subsetting="true"/>
        <setting label="30875" type="lsep"/> <!-- Logging -->
        <setting label="30877" help="30878" type="select" id="max_log_level" values="Quiet|Info|Verbose|Debug" default="Info"/>
    </category>
</settings>
