<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32000">
        <setting label="32001" type="bool" id="usecredentials" default="true"/>
        <setting label="32002" type="text" id="username" enable="eq(-1,true)"/>
        <setting label="32003" type="text" id="password" enable="eq(-2,true)" option="hidden"/>
    </category>
    <category label="32010">
        <setting label="32011" type="bool" id="showsubtitles" default="true"/>
    </category>
    <category label="32020">
        <setting label="32021" type="bool" id="usedrm" default="false"/>
    </category>  
    <category label="32030">
        <setting label="32031" type="bool" id="showpermalink" default="false"/>
    </category>  
</settings>
