# This workflow performs the required add-on checks for a submission
# to the official Kodi repository

name: Kodi
on:
  # Run action when pushed to master, or for commits in a pull request.
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  tests:
    name: Addon checker
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v4
      with:
        path: ${{ github.repository }}
    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: 3.12
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --user kodi-addon-checker
    - name: Remove unwanted files
      run: awk '/export-ignore/ { print $1 }' .gitattributes | xargs rm -rf --
      working-directory: ${{ github.repository }}
    - name: Run kodi-addon-checker
      run: $HOME/.local/bin/kodi-addon-checker --branch=matrix ${{ github.repository }}/
